/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul*/
ul {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  font: inherit;
  text-decoration: none;
}

button {
  font: inherit;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  /*  Primary Colors */
  --Dark-Blue: hsl(233, 26%, 24%);
  --Lime-Green: hsl(136, 65%, 51%);
  --Bright-Cyan: hsl(192, 70%, 51%);

  /*  Neutral Colors */

  --Grayish-Blue: hsl(233, 8%, 62%);
  --Light-Grayish-Blue: hsl(220, 16%, 96%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);

  /* Font */
  --ff-primary: "Public Sans", sans-serif;
  --fw-ligth: 300;
  --fw-regular: 400;
  --fw-bold: 700;
  --fs-body-p: 1rem;
  --fs-heading-1: 2.5rem;
  --fs-heading-2: 2.2rem;
  --fs-heading-3: 1.5rem;
  /* Spacing */
  --large-space: 4rem;
  --gap-space-s: 1rem;
  --gap-space-l: 2rem;
}

/* Font size settings for desktop */
@media (min-width: 1200px) {
  :root {
    --fs-body-p: 1rem;
    --fs-heading-1: 3rem;
    --fs-heading-2: 2rem;
    --fs-heading-3: 1.3rem;
  }
}

/* General style */

body {
  font-family: var(--ff-primary);
  font-weight: var(--fw-regular);
  font-size: var(--fs-body-p);
  color: var(--Grayish-Blue);
  line-height: 1.7;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  line-height: 1.2;
  color: var(--Dark-Blue);
  font-weight: var(--fw-bold);
}

h1 {
  font-size: var(--fs-heading-1);
}

h2 {
  font-size: var(--fs-heading-2);
}

h3 {
  font-size: var(--fs-heading-3);
  /* font-weight: var(--fw-bold); */
}

.flex-flow {
  display: flex;
  align-items: center;
}

.btn {
  background: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));
  padding: 1rem 3rem;
  border: none;
  border-radius: 100px;
  color: var(--White);
  font-weight: var(--fw-bold);
}

.btn:hover {
  background: linear-gradient(to right, hsl(136, 75%, 68%), hsl(192, 74%, 70%));
}

.header .btn {
}

/* ===================
         Header
======================*/

.header {
  background-color: var(--White);
  justify-content: space-between;
  padding-inline: 5%;
  margin-inline: auto;
  padding-block: 1.5rem;
  position: fixed;
  z-index: 100;
  width: 100%;
}

/* ===================
         Hero
======================*/
.hero {
  flex-direction: column;
  background-color: var(--Very-Light-Gray);
  overflow-x: hidden;
}

.hero-img {
  background: url(images/bg-intro-mobile.svg) no-repeat;
  background-size: cover;
}

.hero-img img {
}

.hero-description {
  text-align: center;
  padding-inline: 1rem;
  flex-direction: column;
  gap: var(--gap-space-s);
  padding-bottom: var(--large-space);
}

/* ===================
         choose
======================*/
.choose {
  flex-direction: column;
  gap: var(--gap-space-l);
  padding-block: var(--large-space);
  padding-inline: var(--gap-space-s);
  text-align: center;
  background-color: var(--Light-Grayish-Blue);
}

.choose-description {
  flex-direction: column;
  gap: var(--gap-space-s);
  max-width: 600px;
}

.choose-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-space-l);
}

.card {
  flex-direction: column;
  gap: var(--gap-space-s);
}

/* ===================
        Articles
======================*/
.articles {
  padding-block: var(--large-space);
  flex-direction: column;
  gap: var(--gap-space-l);
  background-color: var(--Very-Light-Gray);
  padding-inline: var(--gap-space-s);
}

.articles-cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: var(--gap-space-l);
}

.article-card {
  background-color: var(--White);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  flex-direction: column;
  gap: var(--gap-space-l);
  padding-bottom: var(--gap-space-l);
}

.article-card img {
  border-radius: 5px 5px 0 0;
}

.article-description {
  padding-inline: var(--gap-space-l);
  gap: var(--gap-space-s);
  display: grid;
}

span {
  font-size: 0.75rem;
  display: block;
  text-align: left;
}

.atricle-title:hover {
  background: linear-gradient(to right, hsl(136, 75%, 68%), hsl(192, 74%, 70%));
  cursor: pointer;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* ===================
     Footer
======================*/
.footer {
  flex-direction: column;
  padding-block: var(--large-space);
  gap: var(--gap-space-l);
  background-color: var(--Dark-Blue);
}

.logo-social {
  flex-direction: column;
  gap: var(--gap-space-l);
}

.social-links {
  gap: var(--gap-space-s);
  cursor: pointer;
}

.footer-items {
  flex-direction: column;
  justify-content: center;
  gap: var(--gap-space-s);
}

.footer-item a {
  color: var(--Light-Grayish-Blue);
}

.footer-btn {
  flex-direction: column;
  gap: var(--gap-space-l);
}

.footer-item:hover a {
  color: var(--Lime-Green);
}

.social-links svg:hover path {
  fill: var(--Lime-Green);
}

/* ===================
    Mobile menu
======================*/
.nav-menu-mobile {
  position: absolute;
  display: grid;
  background-color: var(--White);
  width: 90%;
  height: 60vh;
  top: 6rem;
  left: 150%;
  transform: translateX(-50%);
  border-radius: 5px;
  transition: all 500ms ease-in-out;
}

.show-nav-menu-mobile {
  left: 50%;
}

.nav-menu-mobile .menu-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-space-s);
}

.nav-menu-mobile .menu-link {
  text-transform: capitalize;
  color: var(--Dark-Blue);
  font-weight: var(--fw-regular);
  font-size: 1.2rem;
}

.nav-menu-mobile .menu-link:hover {
  color: var(--Lime-Green);
}

/* ===================-
     Media queries
======================*/
@media (min-width: 800px) {
  /* ===================
         Header
======================*/

  .header {
    background-color: var(--White);
    justify-content: space-between;
    padding-inline: 5%;
    margin-inline: auto;
    padding-block: 1.5rem;
    position: fixed;
    z-index: 100;
    width: 100%;
  }

  /* ===================
         Main
======================*/

  .main-content {
    padding-top: 4rem;
  }

  /* ===================
         Hero
======================*/
  .hero {
    flex-direction: row;
    gap: 3rem;
  }

  .hero-img {
    background: url(images/bg-intro-desktop.svg);
    margin-top: -5rem;
    margin-right: -5rem;
    order: 2;
    flex: 1;
  }

  .hero-img img {
    transform: translate(100px);
  }

  .hero-description {
    order: 1;
    flex: 1;
    text-align: left;
    padding-inline: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-space-s);
    padding-bottom: var(--large-space);
    width: 70%;
  }

  /* ===================
         choose
======================*/
  .choose {
    padding-inline: 10%;
    align-items: flex-start;
    text-align: left;
  }

  .choose-description {
    align-items: flex-start;
    max-width: 600px;
  }

  .choose-cards {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }

  .card {
    align-items: flex-start;
  }

  /* ===================
        Articles
======================*/
  .articles {
    padding-inline: 10%;
    align-items: flex-start;
  }

  .articles-cards {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .article-card img {
    max-height: 237px;
    height: 100%;
  }

  /* ===================
     Footer
======================*/
  .footer {
    flex-direction: row;
    padding-inline: 5%;
    align-items: flex-start;
    justify-content: space-between;
  }

  .logo-social {
    align-items: flex-start;
    gap: 3rem;
  }

  .footer-menu-items {
    display: flex;
    flex-direction: row;
    gap: 4rem;
  }

  .footer-items {
    align-items: flex-start;
  }
}

@media (min-width: 1200px) {
  /* Desktop menu */
  .hamburger-menu {
    display: none;
  }

  .nav-menu {
    position: static;
    background-color: transparent;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(0);
    border-radius: none;
    transition: none;
  }

  .nav-menu-mobile .menu-items {
    flex-direction: row;
  }

  /* ===================
         Header
======================*/

  .header {
    padding-inline: 10%;
  }

  /* ===================
       Main
======================*/

  .main-content {
    padding-top: 0;
  }

  /* ===================
       Hero
======================*/
  .hero {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    align-items: center;
    padding-left: 10%;
    gap: 1rem;
  }

  .hero-img {
    transform: translateY(-13%);
  }

  .hero-img img {
    position: relative;
    transform: translate(35%, 8%);
  }

  .hero-description {
    order: 1;
    flex: 1;
    text-align: left;
    padding-inline: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-space-s);
    padding-bottom: var(--large-space);
  }

  /* ===================
       choose
======================*/
  .choose {
    padding-inline: 10%;
  }

  .choose-cards {
    grid-template-columns: repeat(4, 1fr);
  }

  /* ===================
      Articles
======================*/
  .articles {
    padding-inline: 10%;
  }

  /* ===================
     Footer
======================*/
  .footer {
    flex-direction: row;
    padding-inline: 10%;
    align-items: flex-start;
  }

  .logo-social {
    align-items: flex-start;
    gap: 3rem;
    flex: 2;
  }

  .footer-menu {
    flex: 3;
  }

  .footer-menu-items {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 4rem;
  }

  .footer-items {
    align-items: flex-start;
  }

  .footer-btn {
    flex: 5;
    align-items: flex-end;
    justify-self: flex-end;
  }

  .footer-item:hover a {
    color: var(--Lime-Green);
  }

  .social-links svg:hover path {
    fill: var(--Lime-Green);
  }
}

@media (min-width: 1440px) {
  .articles-cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .logo-social {
    flex: 1.5;
  }

  .footer-menu-items {
    justify-content: center;
  }
}

/* Classes for JS */
.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: hsl(233, 26%, 24%, 0.4);
  z-index: 50;
}

.no-overflow {
  overflow: hidden;
}

.hidden {
  display: none;
}
